<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>
        <link rel="stylesheet" href="./styles.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div style="display: flex">
            <div>
                <h1>About Idan</h1>
                <p>Idan Amedi (Hebrew: עידן עמדי; born February 19, 1988) is an Israeli singer-songwriter and actor who rose to fame on the reality show Kochav Nolad in 2010.</p>
                <p>He has released 5 studio albums, with hit singles like "Pain of Warriors" and "Finished."</p>
                <p>Amedi began acting in 2017, joining the cast of the TV action series Fauda where he plays Sagi Tzur.</p>
                <p>In his personal life, Amedi married Miriam Benyaminov in 2018 and they have two children together.</p>
                <p>He was called up as an IDF reservist during the 2023 Israel-Hamas war, and was seriously injured in January 2024 while demolishing Hamas tunnels in Gaza.</p>
                <a href="./home"><h3>back to Homepage</h3></a>
            </div>
            <div>
                <img src="./images/about.jpg" height="670px">
            </div>
        </div>
    </body>
</html>