<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>
        <link rel="stylesheet" href="./styles.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div style="display: flex">
            <div>
                <h1>Idan's work</h1>
                <p>On September 5 of 2011, his first full album, Idan Amedi was released. Shortly before that, he released another single, "Elaiich (To you)".</p>
                <p>Amedi wrote and composed all the songs of the album, the song "The Last Letter", written and composed according to the letters of Moshe Ohayon R.I.P as part of the project "Soon we will become a song". Most of the songs Amedi co-edited with Itamar Meiri and Eitan Raz.</p>
                <p>In February 2013, Amedi's second album, Bazman Hahachron (Recently) was released. The two singles that preceded the album, "Nigmar (Finished)" and "Beautiful Things to See" were successful and reached the top of the various chants. Next to the album came another single, "MIshum Ma (For some reason)".</p>
                <p>In October 2014, Amedi's debut single ("Old Voice of Memory") came out of his third album, Ratzinu Lihiyot (we wanted to be)". The song is about his memories of the Nahlaot neighborhood where his grandparents lived. It was first place on the Galgalz hit parade for a month.</p>
                <p>On March 14, 2016, Amedi released the first single from his fourth album, called Chelek Mehazman (Part of the time) as the album's name, which he originally wrote for singer Rita. The song reached seventh place in the Galgalatz hit parade.</p>
                <p>In June 2019 he released "Ani Rotze (I Want)", and in February 2020, "Mipo Lesham (From Here To There)". In May 2020, the single "Remember Almost Everything" came out. He wrote and directed the clip himself.</p>
                <a href="./home"><h3>back to Homepage</h3></a>
            </div>
            <div>
                <img src="./images/work.jpg" height="670px">
            </div>
        </div>
        <a href="./home"><h3>back to Homepage</h3></a>
    </body>
</html>